.logoIcon {
  height: 40.5px;
  width: 156.8px;
  position: relative;
}
.becomeAHost,
.home,
.stays {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.becomeAHost,
.stays {
  min-width: 36px;
}
.becomeAHost {
  min-width: 94px;
  white-space: nowrap;
}
.navLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.avatarIcon,
.notificationsIcon {
  height: 26.5px;
  width: 26px;
  position: relative;
  object-fit: contain;
}
.avatarIcon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.headerContent,
.loginSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.headerContent {
  width: 100%;
  justify-content: space-between;
  max-width: 1280px;
}
.header,
.listingDetailsSection,
.pageBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey-border);
  align-items: center;
  padding: var(--padding-sm) var(--padding-61xl) var(--padding-xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.listingDetailsSection,
.pageBody {
  align-items: flex-start;
  max-width: 100%;
}
.listingDetailsSection {
  gap: var(--gap-11xl);
}
.pageBody {
  background-color: var(--color-gray-100);
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: 44px;
}
.contactUs,
.localhostIncAll,
.privacyPolicy,
.termsConditions {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contactUs,
.privacyPolicy,
.termsConditions {
  display: inline-block;
  min-width: 85px;
}
.contactUs,
.termsConditions {
  min-width: 120px;
}
.contactUs {
  min-width: 67px;
}
.bannerContent,
.copyrightInfo,
.legalLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.legalLinks {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bannerContent,
.copyrightInfo {
  max-width: 1280px;
}
.copyrightInfo {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bannerContent {
  width: 100%;
  justify-content: center;
}
.band,
.propertyDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.band {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
}
.propertyDetails {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .bannerContent,
  .copyrightInfo,
  .headerContent {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .header,
  .pageBody {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .pageBody {
    gap: var(--gap-3xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
  }
  .copyrightInfo {
    flex-wrap: wrap;
  }
  .band {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .legalLinks {
    flex-wrap: wrap;
  }
}